


.fa-circle{
    color: black;
}

.fa-circle-xmark{
    color: black;
}

.list{
    display: inline-block;
    height: 200px; width: 700px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

    position: fixed;
    left: 70px; top: 15px;
}

.row{
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}