body{

    
}

.mainer{
    background-color: rgba(218, 162, 60, 0.877);
    width: 375px;
    height: 667px;
}

footer{
    color: rgb(34, 34, 34);
    font-family: 'Oswald';
    position: relative;
    top: 200px;
    padding-left: 10px;
}

.title{
    font-family: 'Bebas Neue';
    padding-left: 10px;
    padding-top: 7px;
}

.current{
    font-weight: bold;
    text-decoration: underline;
}

.difficulty{
    font-family: 'Oswald';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.diff:hover{
    transform: scale(1.1);
}

.diff{
    padding-right: 4px;
}

.point-counter{
    font-family: 'Oswald';
    font-weight: bold;
    padding-left: 10px;
}

.head{
    font-size: 23px;
    font-family: 'Oswald';
    text-align: center;
}

.box-input{
    background-color: #d87330;
    color: rgb(34, 34, 34);
    font-family: 'Oswald';
    border-radius: 15px;

    width: 300px;
    height: 60px;
    position: relative;
    left: 40px;
    padding-bottom: 10px;
    
}

.input-box{
    padding-left: 5px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #d87330;
    font-family: 'Oswald';
    border-radius: 15px;
    gap: 2px;

    padding: 6px;
    height: 120px;
    width: 300px;
    position: relative;
    left: 33px;
    top: 20px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.911);
    border: 1px solid rgba(35, 35, 35, 0.836);
    font-size: 19px;
    text-align: center;
    justify-content: center;
    opacity: 30%;
    border-radius: 10px;
  }
  
  .grid-item:hover{
      opacity: 100%;
      transition: .5s;
  }
  
  .grid-item:not(:hover){
      opacity: 50%;
      transition: .5s;
  }