h1 { 
    color: rgb(39, 39, 39); 
    font-family: sans-serif; font-size: 27px;
    
}
/* Das ist alles für die navbar wtf */

.navbar {
  overflow: hidden;
  background-color: #fc411ce5;
}

.navbar a {
  float: right;
  display: block;
  text-align: center;
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-size: 17px;
  padding:  14px 17px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home { margin-left: 0px;}

.navbar a { opacity: 1.0;}
.navbar a:hover{ opacity: 0.7;}



  /* eigentlicher hintergrund, etc. */
      body {
          font-family: Helvetica, sans-serif;
          font-size: small;
          background: rgb(235, 122, 70);
          height: 10px;
          background-image: url(../Steckbrief/soße/portfolio\ bilder\ für\ eia/bg.png);
      }

      .linktest{ text-decoration: none; 
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 13px; color: rgb(0, 0, 0); }

